@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Tajawal', sans-serif;
  font-weight: 500;
  color: #1e1e1e;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 40px;
}

.section {
  padding: 7rem 0 2rem;
}

/* .section-title {
  color: #3c3c3c;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
} */

.section-height {
  height: 70vh;
}

a {
  color: #1e1e1e;
  text-decoration: none;
}

.nav-link {
  list-style: none;
  margin: 20px 0;
  border-bottom: 1px solid #eee;
  width: 7rem;
}

.scrollTop {
  position: fixed;
  bottom: 10px;
  right: 20px;
  padding: 10px 20px;
  background-color: #eee;
  color: #1e1e1e;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.5s;
}

.scrollTop:hover {
  background-color: #08977b;
  color: #fff;
}

/* Navbar */
.navbar {
  background: #fff;
  position: fixed;
  width: 100%;
}

.flex-nav {
  display: flex;
  flex-direction: column;
}

.nav-header span {
  color: #09b996;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-toggle {
  border: transparent;
  background: transparent;
  color: #09b996;
  font-size: 1.6rem;
}

/* make nav-links disappear */
.nav-links {
  height: 0;
  overflow: hidden;
}

.nav-open {
  height: 35vh;
}

@media only screen and (min-width: 900px) {
  .nav-toggle {
    display: none;
  }

  .nav-header {
    display: block;
  }

  .flex-nav {
    padding: 7px 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    height: auto;
  }

  ul {
    text-align: center;
  }

  .nav-link {
    display: inline-block;
    border-bottom: none;
  }

  .nav-links span {
    color: #fff;
    background-color: #09b996;
    padding: 10px 20px;
  }
}

/* about , work */
.main-about,
.main-work,
.main-team,
.main-faq,
.main-contact {
  width: 1290px;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main img {
  width: 300px;  
  max-width: 100%;
  height: auto;
  padding: 0 4px;
}

.all-text {
  width: 600px;
  max-width: 100%;
  padding: 0 10px;
} 

.all-text h3 {
  font-size: 18px;
  font-weight: 400;
  color: #777;
  letter-spacing: 1px;
}

.all-text h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

.all-text p {
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 10px;
}

.btn button {
  background: #eee;
  color: #1e1e1e;
  font-size: 15px;
  padding: 10px 30px;
  border: none;
  outline: none;
  margin-right: 8px;
}

.btn button:hover {
  background-color: #09b996;
  color: #fff;
  transition: 0.2s;
  cursor: pointer;
}

/*team */
.description {
  max-width: 100%;
  padding: 0 10px;
}

.description h3 {
  font-size: 18px;
  font-weight: 400;
  color: #777;
  letter-spacing: 1px;
}

.description h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

.description p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}


/* faq */
.faq {
  width: 980px;
  font-size: 22px;
  padding: 15px 20px;
  cursor: pointer;
}

details {
  background: #f6f6f6;
  padding: 15px 20px;
  margin-top: 10px;
}

/* contact */
form {
  display: flex;
  flex-direction: column;
  width: 800px;
  padding: 20px 50px;
  gap: 20px;
}

input,
select,
textarea {
  padding: 15px 25px;
  background: transparent;
  border: 1px solid #1e1e1e;
  border-radius: 5px;
}

textarea {
  height: 200px;
}

button {
  background: #eee;
  color: #1e1e1e;
  font-size: 15px;
  padding: 15px 30px;
  border: none;
  outline: none;
  border-radius: 5px;
}

button:hover {
  background-color: #08977b;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}

/* footer */
footer {
  background:#1e1e1e;
  color: #fff;
  padding: 20px 20px;
  margin-top: 60px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
}